<h1>New Device</h1>
<%= form_for :device, url: devices_path do |f| %>
<table class="table_edit" >
  <tbody>
    <tr>
      <td><b>Name of Device:</b></td>
      <td><%=f.text_field :device_name, :autocomplete => 'off', autofocus: true %></td>
    </tr>
    <tr>
      <td><b>Manufactuer of Device:</b></td>
      <td><%=f.text_field :device_manufacturer%></td>
    </tr>
    <tr>
      <td><b>Model of Device:</b></td>
      <td><%=f.text_field :device_model %></td>
    </tr>
    <tr>
      <td><b>Type of Device:</b></td>
      <td><%=f.select(:device_type,[['Desktop'],['Laptop'],['Phone'],['Tablet'],['Other']], :include_blank => "--Please Select Option--") %></td>
    </tr>
    <tr>
      <td><b>Price of the original device:</b></td>
      <td><%=f.number_field :device_cost, :autocomplete => 'off', :step => 0.01 %></td>
    </tr>
    <td><b>Registered user:</b></td>
          <td><%= f.collection_select :user_id, User.all, :id, :user_id_name, :include_blank => "--Please Select Option--"  %></td>
    <tr>
      <td><b>Length of Warranty:</b></td>
      <td><%=f.select(:warranty_length,[["No Warranty",0],["1 Month",1],["2 Months",2],["3 Months",3],["4 Months",4],["6 Months",6],["8 Months",8],["10 Months",10],["12 Months (1 Year)",12],["18 Months (1.5 Years)",18],
      ["24 Months (2 Years)",24],["36 Months (3 Years)",36],["48 Months (4 Years)",48],["60 Months (5 Years)",60],["Lifetime Warranty",1000]], :include_blank => "--Please Select Option--" ) %> </td>
    <tr>
      <td><b>Start date of Device:</b></td>
      <td><%=f.text_field :start_date,"data-provide"=>'datepicker', :autocomplete => 'off'%></td>
    </tr>

      <tr>
      <td><b>Expiry date of Device:</b></td>
      <td><%=f.text_field :expiry_date,"data-provide"=>'datepicker', :autocomplete => 'off'%></td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align:right"><%=f.submit "Create" %></td>
    </tr>
    <tr>
      <td></td>
      <td> </td>
    </tr>
  </tbody>
</table>
<% end %>
