<h1>Accounting#index</h1>
<div class='container'>
      <table class="table1" >
      	<tr>
      		<th class='col-md-1' >Device Name  </th>
      		<th class='col-md-3'>Device Owner  </th>
      		<th class='col-md-1'>Device Type  </th>
      		<th class='col-md-1'>Cost </th>
          <th class='col-md-1'>Paid for </th>

      	</tr>
        <% @devices.each do |n| %>
          	<td><%= n.device_name %> </td>
            <td><%= n.user.full_name %></td>
          	<td><%= n.device_type %> </td>
          	<td> <%= number_to_currency(n.upgrade_cost,:unit=> "£") %></td>
            <td>
              <%= form_for n do |j| %>
                <%= j.check_box :payment_received %>
              <% end %>
            </td>
          </tr>
          <% end %>
          </table>
          <h4>Total Expected Funds</h4>
          <%= number_to_currency(a = Device.unpaid.wanted.sum(:upgrade_cost),:unit=> "£") %>
          <h4>Total Recieved Revenue from Upgrades</h4>
          <%= number_to_currency(b = Device.paid.wanted.sum(:upgrade_cost),:unit=> "£") %>
        </div>

    </div>
