<h1> Advanced Search </h1>
<br>
  <h2>Search for Devices</h2>
  <%= link_to "Back",devices_path %>
<%= form_for @search do |s| %>
<table class="table1" width="35%" >
  <tbody>
    <tr>
      <td><b>Name of Device:</b></td>
      <td><%=s.text_field :device_name, :autocomplete => 'off' %></td>
    </tr>
		<tr>
      <td><b>Type of Device:</b></td>
      <td><%=s.select :device_type, options_for_select(@device_type), :include_blank => "--Please Select Option--" %></td>
    </tr>
		<tr>
      <td><b>Manufacturer of Device:</b></td>
      <td><%=s.select :device_manufacturer, options_for_select(@device_manufacturer), :include_blank => "--Please Select Option--" %></td>
    </tr>
		<tr>
      <td><b>Model of Device:</b></td>
      <td><%=s.text_field :device_model, :autocomplete => 'off' %></td>
    </tr>
    <tr>
      <td><b>Owner of the Device:</b></td>
      <td><%= s.collection_select :user_id, User.all, :id, :user_id_name, :include_blank => "--Please Select Option--"  %></td>
    </tr>
		<tr>
      <td><b>Minimum Original Cost of Device:</b></td>
      <td><%=s.number_field :min_price, :step => 0.01, :autocomplete => 'off' %></td>
    </tr>
		<tr>
      <td><b>Maximum Original Cost of Device:</b></td>
      <td><%=s.number_field :max_price, :step => 0.01, :autocomplete => 'off' %></td>
    </tr>
		<tr>
      <td colspan="2" style="text-align:center">The format for the dates is YYYY-MM-DD</td>
    </tr>
		<tr>
      <td><b>Find Device(s) that started between:</b></td>
      <td><%=s.text_field :start_date,"data-provide"=>'datepicker' %><b><center> and </b></center><%= s.text_field :start_date_min,"data-provide"=>'datepicker' %>
			</td>
    </tr>
		<tr>
      <td><b>Find Device(s) that expire between:</b></td>
      <td><%=s.text_field :expiry_date,"data-provide"=>'datepicker' %><b><center> and </b></center><%= s.text_field :expiry_date_min,"data-provide"=>'datepicker' %>
			</td>
    </tr>
		<tr>
      <td></td>
      <td style="text-align:right"><%=s.submit "Search" %></td>
    </tr>
</table>
<% end %>
