<h1> Advanced Search </h1>
<br>

  <h2>Search for Users</h2>
  <%= link_to "Back",users_path %>
<%= form_for @search do |u| %>
<table class="table1" width="35%" >
  <tbody>
    <tr>
      <td><b>First name of user:</b></td>
      <td><%=u.text_field :user_first_name, :autocomplete => 'off' %></td>
    </tr>
    <tr>
      <td><b>Last name of user:</b></td>
      <td><%=u.text_field :user_last_name, :autocomplete => 'off' %></td>
    </tr>
    <tr>
      <td><b>Office location of user:</b></td>
      <td><%=u.select(:office_location,[['Bay View Park'],['Estuary House'],['Gulley Point'],['Hill View Crest'],['Meadow Terrace'],['Ridge Tower'],['Station Site'],['Thames Key'],['Willow Plaza']], :include_blank => "--Please Select Option--") %></td>
    </tr>
    <tr>
      <td><b>Role of user:</b></td>
      <td><%=u.select(:role,[['user'],['admin']], :include_blank => "--Please Select Option--") %></td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align:right"><%=u.submit "Search" %></td>
    </tr>
</table>
<% end %>
